<!--Luis Enrique Toscano Hernandez -->

  <div class="container my-5">
      <div class="row align-items-center">
        <div class="col-md-6">
            <h2>Welcome to Code.Gym</h2>
            <p> At Code.Gym, we train hard, stay consistent, and get results. 
    Your transformation starts the moment you walk in.</p>
            </div>

                <div class="col-md-6 text-center">
                    <img class="rounded-circle img-fluid" src="https://i.shgcdn.com/d61f124a-5eb2-41c7-abd1-ace0dd6f7d97/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Instalaciones"
                           style="width: 300px; height: 300px; object-fit: cover;" >

                    </div>
                      </div>
                          </div>