<!-- Luis Enrique Toscano Hernandez-->
<div class="row align-items-center">
<div class="col-md-6 order-md-1 text-center">
    <img src="https://images.ctfassets.net/473zoc40547p/3fJlYTPQVQWlXv41OCmhuY/c517fe44fd22cdebb832fa1445c94ae5/fitness-clubs-overview.webp?fm=webp" 
      class="rounded-circle img-fluid w-50" 
      alt="gym workout"
       style="width: 300px; height: 300px; object-fit: cover">
  </div>

 
  <div class="col-md-6 order-md-2">
    <h2>No Excuses. Just Results.</h2>
    <p>
      Stay consistent, stay focused, and transform your body. At Code.Gym,
      we help you achieve real results with discipline and hard work.
    </p>
  </div>

</div>