<!-- Luis Enrique Toscano Hernandez-->
<div class="row align-items-center">
<div class="col-md-6 order-md-1 text-center">
    <img src="https://americanfitnesscenter.net/assets/hardcore_gym_weights_section-BLWOZhkI.png" 
      class="rounded-circle img-fluid" 
      alt="gym workout"
       style="width: 300px; height: 300px; object-fit: cover">
  </div>

 
  <div class="col-md-6 order-md-2">
    <h2>No Excuses. Just Results.</h2>
    <p>
      Stay consistent, stay focused, and transform your body. At Code.Gym,
      we help you achieve real results with discipline and hard work.
    </p>
  </div>

</div>